include ../../components/title-3/title-3.pug

mixin dropdown({ label = 'Выберите', title = null, small = null })
  -
    const classes = ['']
    if(small) {
      classes.push('dropdown_size_small')
    }
    
  .dropdown.js-dropdown(class=classes)
    if(title)
      .dropdown__title
        +title-3(title)
    .dropdown__content.js-dropdown__content
      label.dropdown__label
        input(placeholder=label class="dropdown__input js-dropdown__input")
            