include ../../components/title-3/title-3.pug

mixin dropdown({ label = 'Выберите', title = undefined, quantity = undefined, small = undefined })
  -
    const classes = ['dropdown', 'js-dropdown']
    if(small !== undefined) {
      classes.push('dropdown_size_small')
    }
    
  div(class=classes)
    if(title !== undefined)
      .dropdown__title
        +title-3(title)
    .dropdown__content.js-dropdown__content
      label.dropdown__label
        input(placeholder=label class="dropdown__input js-dropdown__input")
            