@import '@/theme/variables.scss';


.room-details {

  &__gallery {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  &__secondary-img {
    object-fit: cover;
    margin-left: 68.125%;
    width: 31.875%;
    height: 50%;
    vertical-align: middle;
  }

  &__main-img {
    width: 68.125%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    height: 100%;
  }

  &__body {
    max-width: 1190px;
    margin: 0 auto;
    padding: 70px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 712px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 12px;

    &_with_82_ml {
      margin-left: 82px;
    }
  }

  &__subtitle {
    font-size: 1.35rem;
    line-height: 1.64rem;
    color: $dark100;
    font-weight: bold;
    margin-bottom: 5px;

    &_with_mb_10 {
      margin-bottom: 10px;
    }
    &_with_mb_21 {
      margin-bottom: 21px;
    }
  }

  &__comment {
    margin-bottom: 23px;
  }
  
  &__footer_big {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__footer_small {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}