extends ../../theme/layouts/layout.pug
include ../../components/room-wishes/room-wishes.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-small/footer-small.pug
include ../../components/room-info/room-info.pug
include ../../components/advantage/advantage.pug
include ../../components/title-3/title-3.pug
include ../../components/chart/chart.pug
include ../../components/comment/comment.pug
include ../../components/bulled-list/bulled-list.pug
include ../../components/paragraph/paragraph.pug

block title 
	| Room Details

block header 
	- 
		const menu = [
			{
				text: "О нас",
				link: "/fake-address",
			},
			{
				text: "Услуги",
				link: [
					{
						text: "Услуга 1",
						link: "/fake-address"
					},
					{
						text: "Услуга 2",
						link: "/fake-address"
					},
				]
			}, 
			{
				text: "Вакансии",
				link: "/fake-address",
			},
			{
				text: "Новости",
				link: "/fake-address",
			},
			{
				text: "Соглашения",
				link: [
					{
						text: "Соглашение 1",
						link: "/fake-address"
					},
					{
						text: "Соглашение 2",
						link: "/fake-address"
					},
				]
			},
		]

		const navigation = [
			{
				title: 'Навигация',
				links: [
					{url: '/fake-address', text: 'О нас'},
					{url: '/fake-address', text: 'Новости'},
					{url: '/fake-address', text: 'Служба поддержки'},
					{url: '/fake-address', text: 'Услуги'},
				]
			},
			{
				title: 'О нас',
				links: [
					{url: '/fake-address', text: 'О сервисе'},
					{url: '/fake-address', text: 'Наша команда'},
					{url: '/fake-address', text: 'Вакансии'},
					{url: '/fake-address', text: 'Инвесторы'},
				]
			},
			{
				title: 'Служба поддержки',
				links: [
					{url: '/fake-address', text: 'Соглашения'},
					{url: '/fake-address', text: 'Сообщества'},
					{url: '/fake-address', text: 'Связь с нами'},
				]
			},
		]
		const text = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»' 
		const copy = 'Copyright © 2018 Toxin отель. Все права защищены.' 
		const subscribtion = {
			title: "Подписка",
			text: "Получайте специальные предложения и новости сервиса",
			placeholder: "Email"
		}

	+header({user: false, menu: menu})

block content
	.room-details
		.room-details__gallery
			img(src="./main-img.png" class="room-details__main-img" alt="main image")
			img(src="./secondary-img1.png" class="room-details__secondary-img" alt="secondary image")
			img(src="./secondary-img2.png" class="room-details__secondary-img" alt="secondary image")
		.room-details__body 
			.room-details__info
				.room-details__item 
					h3.room-details__subtitle Сведения о номере
					+advantage({text: 'Шумопоглощающие стены', name: 'Комфорт', class: 'icon-smile', border: true})
					+advantage({text: 'Окно в каждой из спален', name: 'Удобство', class: 'icon-location_city', border: true})
					+advantage({text: 'Номер оснащён камином', name: 'Уют', class: 'icon-comfort', border: false})
				.room-details__item.room-details__item_with_large-offset
					h3.room-details__subtitle.room-details__subtitle_with_small-offset Впечатления от номера
					+chart({numbers: '260', items: [
						{text: 'Великолепно', color: 'yellow'},
						{text: 'Хорошо', color: 'green'},
						{text: 'Удовлетворительно', color: 'purple'},
						{text: 'Разочарован', color: 'black'},
					]})
				.room-details__item 
					h3.room-details__subtitle.room-details__subtitle_with_extra-large-offset Отзывы посетителей номера
					.room-details__comment 
						+comment({
							src: './avatar-1.jpg',
							alt: 'Мурад Сарафанов',
							time: '5 дней назад',
							number: 12,
							active: true,
							name: 'Мурад Сарафанов',
							message: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, 
								действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`
						})
					.room-details__comment 
						+comment({
							src: './avatar-2.jpg',
							alt: 'Патрисия Стёклышкова',
							time: 'Неделю назад',
							number: 2,
							active: false,
							name: 'Патрисия Стёклышкова',
							message: `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, 
								каждый день новое блюдо и десерт как комплимент`
						})
				.room-details__rules 
					.room-details__note
						h3.room-details__subtitle.room-details__subtitle_with_large-offset.room-details__subtitle_with_medium-offset Правила
						+bulled-list({items: [
							{text: 'Нельзя с питомцами'},
							{text: 'Без вечеринок и мероприятий'},
							{text: 'Время прибытия — после 13:00, а выезд до 12:00'},
						]})
					.room-details__note.room-details__note_with_large-offset
						h3.room-details__subtitle.room-details__subtitle_with_medium-offset Отмена
						+paragraph(`Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.`)
			.room-details__card
				+room-info({label1: '19.08.2019', label2: '23.08.2019'})




block footer
	.room-details__footer.room-details__footer_size_big
		+footer(text, navigation, copy, subscribtion)
	.room-details__footer.room-details__footer_size_small
		+footer-small(copy)

			