@import "@/theme/variables";

.room-details {
  &__gallery {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__secondary-img {
    object-fit: cover;
    margin-left: 68.125%;
    width: 31.875%;
    height: 50%;
    vertical-align: middle;
  }

  &__main-img {
    width: 68.125%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    height: 100%;
  }

  &__body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 20px 59px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1142px) {
      justify-content: center;
    }
  }

  &__info {
    max-width: 712px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;

    @media (max-width: 1142px) {
      justify-content: space-between;
    }

    @media (max-width: 651px) {
      justify-content: center;
    }
  }

  &__item {
    margin-bottom: 11px;

    &_offset_large {
      margin-left: 82px;

      @media (max-width: 1131px) {
        margin-left: 20px;
      }
    }
  }

  &__subtitle {
    font-size: 1.35rem;
    line-height: 1.64rem;
    color: $dark100;
    font-weight: bold;
    margin-bottom: 4px;

    &_offset_small {
      margin-bottom: 12px;
    }

    &_offset_medium {
      margin-bottom: 17px;
    }

    &_offset_large {
      margin-left: 20px;
    }

    &_offset_extra-large {
      margin-bottom: 20px;
    }
  }

  &__comment {
    margin-bottom: 23px;
  }

  &__rules {
    display: flex;
    justify-content: space-between;
    max-width: 710px;
    flex-wrap: wrap;

    @media (max-width: 1132px) {
      margin-bottom: 30px;
    }
  }

  &__note {
    max-width: 340px;

    &_offset_large {
      margin-left: 100px;

      @media (max-width: 740px) {
        margin-left: 20px;
      }
    }
  }

  &__footer_size_big {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__footer_size_small {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
