extends ../../theme/layouts/layout.pug
include ../../components/room-wishes/room-wishes.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-small/footer-small.pug

block title 
  | Landing Page

block header 
  - 
    const { menu, navigation, text, copy, subscribtion } = require('./landing-page.json')

  +header({ user: false, menu: menu })

block content
  .landing-page 
    .landing-page__body 
      +room-wishes()
      p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения 

block footer
  .landing-page__footer.landing-page__footer_size_big
    +footer({ text, navigation, copy, subscribtion })
  .landing-page__footer.landing-page__footer_size_small
    +footer-small(copy)

      