include ../../components/title-1/title-1.pug
include ../../components/title-3/title-3.pug
include ../../components/input/input.pug
include ../../components/radio/radio.pug
include ../../components/button/button.pug
include ../../components/icon-button/icon-button.pug

mixin login-card()
	.login-card 
		.login-card__body 
			.login-card__title
				+title-1('Войти')
			form.login-card__form(action="/fake-address")
				.login-card__input
					+input({type: 'email', placeholder: 'Email'}) 
				.login-card__input
					+input({type: 'text', placeholder: 'Пароль'}) 
				.login-card__button
					+icon-button({text: 'войти', mode: ['size_big']})
			.login-card__question
				p.login-card__paragraph Нет аккаунта на Toxin?
				+button({link: true, text: 'создать', mode: ['with_big-padding']})
