@import "@/theme/variables.scss";

.login {
  background-image: url("images/login-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__body {
    max-width: 1190px;
    margin: 0 auto;
    padding: 172px 15px 175px;
    box-sizing: border-box;
  }

  &__card {
    width: 380px;
    margin: 0 auto;

    @media (max-width: 568px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__footer_size_big {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__footer_size_small {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
