extends ../../theme/layouts/layout.pug
include ../../components/room-wishes/room-wishes.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-small/footer-small.pug
include ../../components/login-card/login-card.pug

block title 
  | Авторизация

block header 
  - 
    const { menu, navigation, text, copy, subscribtion } = require('./login.json')

  +header({ user: false, menu: menu })

block content
  .login 
    .login__body 
      .login__card
        +login-card()

block footer
  .landing-page__footer.landing-page__footer_size_big
    +footer({ text, navigation, copy, subscribtion })
  .landing-page__footer.landing-page__footer_size_small
    +footer-small(copy)

      