@import '@/theme/variables.scss';

.form-control {
  position: relative;

  &_size_small {
    max-width: 266px;
  }

  &__input {
    color: $dark75;
    border: 1px solid $dark25;
    border-radius: 4px;
    font-size: 1rem;
    padding: 13px 15px;
    width: 100%;
    max-width: 320px;
    letter-spacing: 1px;
    line-height: 1.28rem;
    box-sizing: border-box;
    outline: none;

    &::placeholder {
      color: $dark25;
    }

    &:hover,
    &:focus,
    &_focused {
      border-color: $dark50;
      color: $dark75;

      &::placeholder {
        color: $dark75;
      }
    }
  }

  &__button {
    position: absolute;
    font-size: 1.7rem;
    top: 50%;
    width: 44px;
    height: 44px;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background-image: $purple-gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
  }
}