mixin rating(filled)
  -
    let counter = 0
    
  .rating 
    while counter < 5
      if counter < filled
        i.rating__icon.icon-star
      else 
        i.rating__icon.icon-star_border
      - counter++
