mixin advantage({ text = "text", name = "Max", className = "", border = null })
  -
    let lineClass = "";
    
    if(border) {
      lineClass = "advantage__body_line_bottom";
    }
    
  .advantage
    .advantage__body(class= lineClass)
      i(class=`advantage__icon ${className}`)
      .advantage__info 
        p.advantage__name= name 
        p.advantage__text= text