mixin chart({numbers = '260', items = []})
  -
    const colors = []
    const voices = []
    items.forEach((item) => {
      if(item.gradient && item.voices) {
        colors.push(item.gradient)
        voices.push(item.voices)
      }
    })
    items.reverse()

  .chart.js-chart(data-voices=voices data-colors=colors)
    .chart__canvas-wrapper
      canvas(class="chart__canvas js-chart__canvas")
      .chart__info.js-chart__info
        span.chart__numbers.js-chart__numbers= numbers 
        p.chart__text голосов
    ul.chart__list 
      each item in items 
        li(class="chart__item chart__item_color_"+item.color)= item.text 