@import '@/theme/variables.scss';


.chart {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  &__canvas-wrapper {
    width: 132px;
    height: 132px;
    margin-left: -7px;
  }

  &__info {
    position: absolute;
    top: 48px;
    left: 28px;
    z-index: 9;
    text-align: center;
  }

  &__numbers {
    font-size: 1.71rem;
    line-height: 2.07rem;
    font-weight: bold;

    &_color_purple {
      color: $purple;
    }
    &_color_yellow {
      color: $light-yellow;
    }
    &_color_green {
      color: $green;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 1.4px;
  }

  &__list {
    margin-left: 24px;
    list-style: none;
  }

  &__item {
    font-size: 1rem;
    line-height: 1.71rem;
    color: $dark75;
  }

  &__item::before {
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
  }

  &__item_color_yellow::before {
    background-image: $yellow-gradient;
  }
  &__item_color_purple::before {
    background-image: $purple-gradient
  }
  &__item_color_green::before {
    background-image: $green-gradient;
  }
  &__item_color_black::before {
    background-image: $black-gradient
  }
}