extends ../../theme/layouts/layout.pug
include ../../components/room-wishes/room-wishes.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/footer-small/footer-small.pug
include ../../components/register-card/register-card.pug

block title 
  | Регистрация

block header 
  - 
    const { menu, navigation, text, copy, subscribtion } = require('./register.json')

  +header({ user: false, menu: menu })

block content
  .register 
    .register__body 
      .register__card 
        +register-card()

block footer
  .landing-page__footer.landing-page__footer_size_big
    +footer({ text, navigation, copy, subscribtion })
  .landing-page__footer.landing-page__footer_size_small
    +footer-small(copy)

      