@import "@/theme/variables";

.footer-small {
  text-align: center;
  background-color: #fff;
  padding: 120px 0;

  &__logo {
    margin-bottom: 20px;
  }

  &__text {
    color: $dark75;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 25px;
    max-width: 768px;
  }
}
