mixin button({ link = null, text = 'click me', mode = null })
  - 
    const defaultclass = 'button';
    
    if(mode) {
      mode = mode.map((item)=> `${defaultclass}_${item}`);
      classes = mode.join(' ');
    }  else {
      classes = "";
    }
    
  if(link)
    a.button(href="/fake-address" class=classes)= text
  else
    button.button(class=classes)= text