mixin button({ link = undefined, text = 'click me', mode = undefined })
  - 
    const defaultclass = 'button'
    if(mode !== undefined) {
      mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
    }  else {
      classes = ""
    }
    
  if(link!== undefined)
    a.button(href="/fake-address" class=classes)= text
  else
    button.button(class=classes)= text