mixin button(params)
  - 
    const defaultclass = 'btn'
    const link= params.link|| undefined
    const text = params.text|| 'Click me'
    let mode = params.mode
    if(mode !== undefined){
      mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
      }  else {
      classes = ""
      }
  if(link!== undefined)
    a.btn(href=link class=classes)= text
  else
    button.btn(class=classes)= text