mixin menu(links)
  nav.menu.js-menu
    .menu__body.js-menu__body
      ul.menu__list.js-menu__list
        each link in links
          li.menu__item
            if Array.isArray(link.link)
              .menu__expander.js-menu__expander
                a.menu__link= link.text
              ul.menu__submenu.js-menu__submenu
                each subitem in link.link
                  li.menu__sub-item
                    a.menu__link(href=subitem.link)= subitem.text
            else
              - let classes = ["menu__link"]
              if link.current
                - classes.push("menu__link_font_bold")
              a(class=classes href=link.link)= link.text