include ../../components/calendar/index.pug
include ../../components/dropdown/index.pug

mixin range-dates()
	.range-dates 
		.range-dates__calendar 
			+calendar()
		.range-dates__dropdowns 
			.range-dates__dropdown_with_mr
				+dropdown({label: 'ДД.ММ.ГГГГ', title: 'прибытие'})
			+dropdown({label: 'ДД.ММ.ГГГГ', title: 'выезд'})
			
