extends ../../components/structure/index.pug
block title 
	| Colors&Type

block content 
	include ../../components/logo/index.pug

<<<<<<< HEAD
	h1 COLORS при
=======
	h1 COLORS
>>>>>>> 3079821aa336930f4792e5ef71d775a92b702d78
	+logo("./Logo-2.svg") 