extends ../../theme/layouts/layout.pug
include ../../components/logo/index.pug
include ../../components/color-item/index.pug
include ../../components/title-1/index.pug
include ../../components/title-2/index.pug
include ../../components/title-3/index.pug
include ../../components/p/index.pug

block title 
	| Colors&Type

block content 
	.wrapper 
		.content 
			.colors 
				.colors__logo
					+logo("./Logo-2.svg", "Logo") 
				.colors__body 
					.colors__left 
						+color-item('Dark Shade 100%', '#1F2041', 'dark100')
						+color-item('Dark Shade 75%', '#1F2041', 'dark75')
						+color-item('Dark Shade 50%', '#1F2041', 'dark50')
						+color-item('Dark Shade 25%', '#1F2041', 'dark25')
						+color-item('Dark Shade 5%', '#1F2041', 'dark5')
						+color-item('Purple', '#BC9CFF', 'purple')
						+color-item('Green', '#6FCF97', 'green')
					.colors__right
						.colors__example
							.colors__tag H1
							+title-1('This one is the sub-section or widget title')
						.colors__example
							.colors__tag.colors__tag_md H2
							+title-2('Next one is the item title inside widgets')
						.colors__example
							.colors__tag.colors__tag_xl H3
							+title-3('This is a label or CTA text')
						.colors__example
							.colors__tag.colors__tag_sm Body
							+p('This is the body text which is used for most of the design, like paragraphs, lists, etc.')