extends ../../theme/layouts/layout.pug
include ../../components/logo/logo.pug
include ../../components/header/header.pug
include ../../components/footer-small/footer-small.pug
include ../../components/footer/footer.pug

block title 
  | Headers&Footers

block content 
  - 
    const { menu, navigation, text, copy, subscribtion } = require('./headers.json')

  .headers
    .headers__body
      .headers__logo
        +logo("images/Logo-2.svg", "Logo") 
      .headers__example
        +header({ user: false, menu: menu })
      .headers__example
        +header({ user: 'Юлий Цезарь', menu: menu })
      .headers__example
        +footer({ text, navigation, copy, subscribtion })
      .headers__example
        +footer-small(copy)
      