@import "@/theme/variables";

.headers {
  background-color: $gray;

  &__logo {
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 62px;
  }

  &__body {
    padding-bottom: 140px;
  }

  &__example {
    margin-bottom: 40px;
  }
}
