@import "~nouislider/dist/nouislider.min.css";
@import "@/theme/variables";
@import "@/components/title-3/title-3";

.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  &__info {
    color: $dark50;
    font-size: 0.875rem;
    line-height: 1.07rem;
    letter-spacing: 0.3px;
  }

  &__input {
    display: none;
  }
}

.noUi {
  &-target {
    background: #fff;
    border-radius: 3px;
    border: 1px solid $dark25;
    box-shadow: none;

    .noUi-connects {
      overflow: visible;
      cursor: pointer;
    }

    .noUi-connect {
      background: $green-gradient;
      position: absolute;
      top: -1px;
      min-height: 6px;
    }
  }

  &-horizontal {
    height: 6px;

    .noUi-handle {
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      border-radius: 50%;
      background: $green-gradient;
      box-shadow: none;
      right: -8px;
      top: -6.5px;
      cursor: pointer;

      &::before,
      &::after {
        width: 0;
      }
    }
  }
}
