@import '@/theme/variables.scss';

.form-elements {
	background-color: #fff;

	&__logo {
		padding-top: 30px;
		padding-left: 30px;
		margin-bottom: 72px;
	}

	&__body {
		max-width: 1190px;
		padding: 0px 15px;
		padding-bottom: 140px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__column {
		width: 320px;
	}

	&__name {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;

		&_small {
			max-width: 266px;
		}

		&_with_15_mb {
			margin-bottom: 15px;
		}
		&_with_20_mb {
			margin-bottom: 20px;
		}
	}

	&__explanation {
		font-size: 0.875rem;
		line-height: 1rem;
		text-transform: uppercase;
		color: $dark50;
	}

	&__item_with_20_mb {
		margin-bottom: 20px;
	}
	&__item_with_40_mb {
		margin-bottom: 40px;
	}
	&__item_with_100_mb {
		margin-bottom: 100px;
	}
	&__item_with_170_mb {
		margin-bottom: 170px;
	}
	&__item_with_195_mb {
		margin-bottom: 195px;
	}
	&__item_with_255_mb {
		margin-bottom: 255px;
	}

	&__checkbox {
		margin-bottom: 10px;
	}

	&__toggle {
		margin-bottom: 14px;
	}

	&__likes {
		display: flex;
		width: 90px;
		justify-content: space-between;
	}

	&__rates {
		display: flex;
		justify-content: space-between;
	}
}