@import "@/theme/variables";
@import "@/components/like/like";

.comment {
  max-width: 710px;

  &__author {
    display: flex;
    margin-bottom: 12px;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
  }

  &__info {
    color: $dark75;
    line-height: 1.71rem;
  }

  &__name {
    font-weight: bold;
  }

  &__content {
    display: flex;
    padding-left: 3px;
  }

  &__like {
    flex-shrink: 0;
    margin-right: 14px;
  }

  &__message {
    max-width: 652px;
    color: $dark75;
    line-height: 1.71rem;
  }
}
