extends ../../theme/layouts/layout.pug

block title 
	| Index page


block content 
	- 
		const links = [
			{ link: "colors", title: "Colors-type"},
			{ link: "headers", title: "Headers & Footers"},
			{ link: "cards", title: "Cards"},
			{ link: "form-elements", title: "Form-elements"},
			{ link: "landing-page", title: "Langing Page"},
			{ link: "register", title: "Register"},
			{ link: "login", title: "Sign In"},
			{ link: "filter", title: "Search Room"},
			{ link: "room-details", title: "Room Details"},
		]

	.pages
		ul.pages__list
			each link in links
				li.pages__item 
					a.pages__link(href=`${link.link}.html` target="_blank" rel="noopener noreferrer")= link.title
