@import "@/theme/variables.scss";

.pages {
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  width: 80%;
  margin: 0 auto;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 15px;
  }
}
