mixin small-button({ link = undefined, text = 'click me', mode = undefined })
  - 
    const defaultclass = 'small-button'
    if(mode !== undefined){
      mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
    } else {
      classes = ""
    }
    
  if(link!== undefined)
    a.small-button(href="/fake-address" class=classes)= text
  else
    button.small-button(class=classes)= text