mixin small-button({ link = null, text = 'click me', mode = null })
  - 
    const defaultclass = 'small-button'
    if(mode) {
      mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
    } else {
      classes = ""
    }
    
  if(link)
    a.small-button(href="/fake-address" class=classes)= text
  else
    button.small-button(class=classes)= text