mixin simple-button({ link = null, text = 'click me', mode = null })
  - 
    const defaultclass = 'simple-button'
    if(mode) {
     mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
    }  else {
      classes = ""
    }
    
  if(link)
    a.simple-button(href="/fake-address" class=classes)= text
  else
    button.simple-button(class=classes)= text