mixin simple-button({link = undefined, text = 'click me', mode = undefined})
  - 
    const defaultclass = 'simple-button'
    if(mode !== undefined){
     mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
    }  else {
      classes = ""
    }
  if(link!== undefined)
    a.simple-button(href="/fake-address" class=classes)= text
  else
    button.simple-button(class=classes)= text