mixin simple-button(params)
  - 
    const defaultclass = 'simple-button'
    const link = params.link || undefined
    const text = params.text || 'click me'
    let mode = params.mode
    if(mode !== undefined){
      mode = mode.map((item)=> `${defaultclass}_${item}`)
      classes = mode.join(' ')
      }  else {
      classes = ""
      }
  if(link!== undefined)
    a.simple-button(href="/fake-address" class=classes)= text
  else
    button.simple-button(class=classes)= text