@import "@/theme/variables";

.simple-button {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  background: $purple-gradient;
  border-radius: 22px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  min-width: 87px;
  padding: 9px 16px;
  font-family: "Montserrat", sans-serif;
  word-break: break-word;

  &_length_long {
    min-width: 197px;
    padding: 10px 16px;
  }

  &_padding_big {
    min-width: 99px;
    padding: 12px 16px;
  }

  &_disabled {
    cursor: auto;
    opacity: 0.5;
  }
}
