mixin icon-button({ link = null, text = 'click me', mode = null })
  - 
    const defaultClass = 'icon-button';
    
    if(mode) {
      mode = mode.map((item)=> `${defaultClass}_${item}`);
      classes = mode.join(' ')
    }  else {
      classes = "";
    }
    
  if(link)
    a.icon-button(href="/fake-address" class=classes)= text
  else
    button.icon-button(class=classes)= text