include ../../components/logo/index.pug
include ../../components/button/index.pug
include ../../components/menu/index.pug

mixin header(props)
	- const {user} = props
	- const {menu} = props
		
	header.header.js-header
		.header__wrapper 
			.header__body 
				.header__logo
					+logo("./Logo.svg", "Logo Toxin")
				button.header__burger.js-header-burger
					.header__line-wrapper
						span.header__line 
						span.header__line 
						span.header__line 
				.header__main
					.header__menu.js-header-menu
						+menu(menu)
					.header__user
						if user 
							.header__info 
								| #{user}
						else 
							.header__actions 
								+button({text: 'войти', mode: ['bordered', 'with_mr-20']})
								+button({text: 'зарегистрироваться', mode: ['long']})
					a.header__icon(href="/fake-address")
						img.header__avatar(src="./user.svg")
							

				