include ../../components/dropdown/dropdown.pug
include ../../components/calendar/calendar.pug

mixin datepicker({ title1 = 'прибытие', label1 = 'ДД.ММ.ГГГГ', title2 = 'выезд', label2 = 'ДД.ММ.ГГГГ', oneItem = null })
  .datepicker-component
      +calendar()
      .datepicker-component__dropdowns 
        if oneItem 
          +dropdown({ label: label1, title: title1, small: true })
        else
          .datepicker-component__dropdown.datepicker-component__dropdown_offset_medium
            +dropdown({ label: label1, title: title1 })
          .datepicker-component__dropdown
            +dropdown({ label: label2, title: title2 })
        
