include ../../components/dropdown/index.pug
include ../../components/calendar/index.pug

mixin datepicker()
	.datepicker-item.js-datepicker-item
		.datepicker-item__body
			+calendar()
			.datepicker-item__dropdowns 
				.datepicker-item__dropdown_with_mr
					+dropdown({label: 'ДД.ММ.ГГГГ', title: 'прибытие'})
				+dropdown({label: 'ДД.ММ.ГГГГ', title: 'выезд'})
				
