include ../../components/title-1/index.pug
include ../../components/button/index.pug
include ../../components/quantity-dropdown/index.pug
include ../../components/range-dates/index.pug

mixin room-wishes()
	.room-wishes 
		.room-wishes__body 
			.room-wishes__wrapper
				.room-wishes__title
					+title-1('Найдем номера под ваши пожелания')
				form.room-wishes__form(action="/fake-address")
					.room-wishes__settings 
						.room-wishes__dates 
							+range-dates()
						.room-wishes__guests
							+quantity-dropdown({label: 'Сколько гостей', title: 'гости'})
					.room-wishes__button 
						+button({text: 'подобрать номер', mode: ['with_arrow', 'big']})


