include ../../components/title-1/title-1.pug
include ../../components/icon-button/icon-button.pug
include ../../components/quantity-dropdown/quantity-dropdown.pug
include ../../components/datepicker/datepicker.pug

mixin room-wishes()
	.room-wishes 
		.room-wishes__body 
			.room-wishes__title
				+title-1('Найдем номера под ваши пожелания')
			form.room-wishes__form(action="/fake-address")
				.room-wishes__settings 
					.room-wishes__dates 
						+datepicker()
					.room-wishes__guests
						+quantity-dropdown({label: 'Сколько гостей', title: 'гости'})
				.room-wishes__button 
					+icon-button({text: 'подобрать номер', mode: ['with_arrow', 'size_big']})


