

mixin checkbox(params)
	.checkbox 
		label.checkbox__label
			input(type="checkbox" name=params.name class="checkbox__input" checked=params.checked)
			.checkbox__marker 
			span.checkbox__text= params.label