@import '@/theme/variables.scss';


.footer {
	text-align: center;

	&__wrapper {
		max-width: 1190px;
		padding: 0px 15px;
		margin: 0 auto;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;

		@media (max-width: 1200px) {
			max-width: 700px;
			order: 3;
    }

		@media (max-width: 576px) {
			flex-direction: column;
			align-items: center;
    }
	}

	&__top {
		padding-bottom: 100px;
		background-color: #fff;
		padding: 104px 0px 100px;
		box-shadow: inset 0px -1px 0px rgba(31, 32, 65, 0.2);
	}

	&__info {
		max-width: 260px;
		text-align: left;
		margin-bottom: 30px;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		max-width: 550px;

		@media (max-width: 1200px) {
			margin-top: 30px;
			min-width: 100%;
			order: 3;
    }
		@media (max-width: 576px) {
			margin-top: 40px;
			flex-wrap: wrap;
    }
	}

	&__nav-item {
		text-align: left;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__paragraph {
		margin-bottom: 20px;
		margin-top: 20px;
		line-height: 1.7rem;
		color: $dark75;
	}

	&__link {
		text-decoration: none;
		color: $dark50;
		line-height: 1.2rem;
	}

	&__subscribtion {
		max-width: 260px;
		text-align: left;
	}

	&__bottom {
		height: 70px;
	}

	&__block {
		max-width: 1190px;
		padding: 0px 15px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width: 576px) {
			justify-content: center;
    }
	}

	&__copy {

		@media (max-width: 576px) {
			min-width: 100%;
    }
	}
}