mixin socials()
  .socials 
    a.socials__link.icon-twitter(href="http://twitter.com" target="_blank" rel="noopener noreferrer")
    a.socials__link.icon-facebook(href="http://facebook.com" target="_blank" rel="noopener noreferrer")
    a.socials__link.icon-inst(href="http://instagram.com" target="_blank" rel="noopener noreferrer")