@import "@/theme/variables";

.quantity-dropdown {
  &_size_small {
    max-width: 266px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__body {
    position: relative;
  }

  &__list {
    z-index: 10;
    border: 1px solid $dark25;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    width: calc(100% - 1px);
    top: 42px;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
    padding: 0 6px 9px 13px;
    position: absolute;

    &_hidden {
      display: none;
    }

    &_size_small {
      max-width: 265px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  &__name {
    word-wrap: break-word;
    max-width: 170px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92px;
  }

  &__action {
    background-color: transparent;
    border: 1px solid $dark25;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    vertical-align: center;
    font-size: 1.28rem;
    line-height: 1.57rem;
    color: $dark50;

    &_disabled {
      cursor: auto;
      border: 1px solid rgba(31, 32, 65, 0.25);
      opacity: 0.38;
    }
  }

  &__buttons {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
  }
}
