

mixin checkbox-toggle({label = 'label', checked = false, name = 'name'})
  .checkbox-toggle
    label.checkbox-toggle__label
      input(type="checkbox" name=name class="checkbox-toggle__input" checked=checked)
      .checkbox-toggle__marker 
      span.checkbox-toggle__text=label