@import "@/theme/variables.scss";

.checkbox-toggle {
  &__label {
    line-height: 1.7rem;
    font-size: 1rem;
    color: $dark75;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
  }

  &__marker {
    width: 39px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $dark25;
    position: relative;
    margin-right: 10px;

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      background-color: $dark25;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(4px);
      transition-duration: 0.2s;
    }
  }

  &__input {
    display: none;

    &:checked + .checkbox-toggle__marker {
      border-color: $purple;
    }

    &:checked + .checkbox-toggle__marker::after {
      background-image: $purple-gradient;
      transform: translateY(-50%) translateX(24px);
    }
  }
}
