include ../../components/rent-info/rent-info.pug
include ../../components/datepicker/datepicker.pug
include ../../components/quantity-dropdown/quantity-dropdown.pug
include ../../components/expences/expences.pug
include ../../components/icon-button/icon-button.pug

mixin room-info({items = undefined, total = '38 081₽', luxury = true, price = '9 990', number = '888', label1 = 'ДД.ММ.ГГГГ', label2 = 'ДД.ММ.ГГГГ'})
  - 
    items = items || [
      {name: '9 990₽ х 4 суток', price: '39 960₽'}, 
      {name: 'Сбор за услуги: скидка 2 179₽', price: '0₽', icon: true}, 
      {name: 'Сбор за дополнительные услуги', price: '300₽', icon: true},
    ]
    
  .room-info
    .room-info__body 
      .room-info__top 
        +rent-info({luxury: luxury, price: price, number: number})
      form.room-info__form(action="/fake-address")
        .room-info__dates 
          +datepicker({label1: label1, label2: label2})
        .room-info__guests 
          +quantity-dropdown({label: 'Сколько гостей', title: 'гости'})
        .room-info__expences
          +expences({
            items: items,
            total: total
          })
        .room-info__button
          +icon-button({text: 'забронировать', mode: ['size_big']})