extends ../../theme/layouts/layout.pug
include ../../components/logo/index.pug
include ../../components/room-wishes/index.pug
include ../../components/register-card/index.pug
include ../../components/room-info/index.pug
include ../../components/login-card/index.pug
include ../../components/calendar/index.pug
include ../../components/room-card/index.pug

block title 
	| Cards

block content 
	.cards 
		.cards__logo
			+logo("./Logo-2.svg", "Logo") 
		.cards__body 
			.cards__row 
				.cards__column
					.cards__item
						+room-wishes()
					.cards__item
						+register-card()
				.cards__column
					.cards__item
						+room-info({})
					.cards__item
						+login-card()
				.cards__column
					.cards__item
						+calendar()
					.cards__item
						+room-card({comments: '145', rating: 5, buttons: true, images: [
							{alt: 'room-1', src: "./room-1.png"},
							{alt: 'room-2', src: "./room-2.png"},
							{alt: 'room-3', src: "./room-3.png"},
							{alt: 'room-4', src: "./room-4.png"},
						]})
					
					.cards__item
						+room-card({comments: '65', rating: 4, images: [
							{alt: 'room-2', src: "./room-2.png"},
							{alt: 'room-3', src: "./room-3.png"},
							{alt: 'room-4', src: "./room-4.png"},
							{alt: 'room-5', src: "./room-5.png"},
						]})
					

		