extends ../../theme/layouts/layout.pug
include ../../components/logo/index.pug
include ../../components/room-wishes/index.pug
include ../../components/register-card/index.pug
include ../../components/room-info/index.pug
include ../../components/calendar/index.pug

block title 
	| Cards

block content 


	.wrapper 
		.content 
			.cards 
				.cards__logo
					+logo("./Logo-2.svg", "Logo") 
				.cards__body 
					.cards__row 
						.cards__column
							.cards__item
								+room-wishes()
							.cards__item
								+register-card()
						.cards__column
							.cards__item
								+room-info
						.cards__column
							.cards__item
								+calendar()
							

				