@import "@/theme/variables";

.accordion {
  max-width: 266px;

  &__expander {
    display: flex;
    align-items: baseline;
    margin-bottom: 17px;
    cursor: pointer;
    justify-content: space-between;
    user-select: none;
  }

  &__icon {
    background-color: transparent;
    border: none;
    color: $dark50;
    cursor: pointer;
    width: 44px;
    transition-duration: 0.3s;
    transform-origin: center center;

    &_active {
      transform: scaleY(-1);
    }
  }

  &__list {
    display: none;

    &_active {
      display: block;
    }
  }

  &__item {
    margin-bottom: 10px;
  }
}
