@import '@/theme/variables.scss';


.accordion {

	&__expander {
		display: flex;
		align-items: baseline;
		margin-bottom: 17px;
		cursor: pointer;
	}

	&__icon {
		background-color: transparent;
		border: none;
		color: $dark50;
		cursor: pointer;
		margin-left: 30px;
		width: 44px;
		transition-duration: .3s;
		transform-origin: center center;
		
		&_active {
			transform: scaleY(-1);
		}
	}

	&__list {
		transition: .3s ease-in-out;
		transform-origin: top center;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		
		&_active {
			opacity: 1;
			visibility: visible;
			max-height: 3000px;
		}
	}

	&__item {
		margin-bottom: 10px;
	}
}