@import '@/theme/variables.scss';

.bulled-list {

  &__item {
    margin-bottom: 10px;
    display: flex;
    max-width: 260px;
    font-size: 1rem;
    line-height: 1.71rem;
    align-items: baseline;
    color: $dark75;
  }

  &__circle {
    margin-right: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $dark25;
    border-radius: 50%;
    flex-shrink: 0;
  }
}