mixin color-item(text1, text2, color)
  .color-item 
    .color-item__body 
      div.color-item__block(class="color-item__block_color_"+color)
      .color-item__info 
        p.color-item__text.color-item__text_font_bold
          | #{text1}
        p.color-item__text
          | #{text2}