mixin color-item(text1, text2, color)
	.color-item 
		.color-item__body 
			div(class= "color-item__block color-item__block_color_"+color)
			.color-item-info 
				p.color-item__text.color-item__text_bold
					| #{text1}
				p.color-item__text
					| #{text2}